{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center">
        <h3><u>Kontak</u></h3>
      </div>
      <div class="row justify-content-center">
        <p>Nomor Telepon 0895-9876-5432</p>
      </div>
      <div class="row justify-content-center">
        <p>Nomor FAX 0817-617-6178</p>
      </div>
      <div class="row justify-content-center">
        <p>Twitter @Pizzaandsaladsik</p>
      </div>
      <div class="row justify-content-center">
        <p>Instagram @Pizzaandsaladsik</p>
      </div>
      <div class="row justify-content-center">
        <p>Jika kamu memiliki pertanyaan dan keluhan silahkan kirim email pada email berikut: pizzaandsaladsik@gmail.com</p>
      </div>
    </div>

{% endblock %}
