{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/place/Universitas+Pendidikan+Indonesia+(UPI)+Kampus+Serang/@-6.1257177,106.1444745,17z/data=!3m1!4b1!4m5!3m4!1s0x2e418adaa4f7f563:0x950ec58123df8596!8m2!3d-6.125723!4d106.1466632" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Lokasi: Jl. Ciracas No.38, Serang, Kec. Serang, Kota Serang, Banten 42116.</li>
          <li>Jangan parkir di sembarang tempat! Silahkan parkir pada tempat yang kami sediakan.</li>
        </ul>

      </div>

    </div>

{% endblock %}
