{% extends 'orders/header.html' %}
{% load custom_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    {% if user.is_superuser %}
      <h2>(Klik pada pesanan (merah) untuk menandainya sebagai pesanan.)</h2>
    {% else %}
      <h2> Pesanan oleh: {{user.get_username}} </h2>
    {% endif %}

    <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID pesanan</th>
          <th scope="col">Pesanan oleh</th>
          <th scope="col">Tanggal</th>
          <th scope="col">Pesanan</th>
          <th scope="col">Jumlah Pembayaran</th>
        </tr>
        </thead>
        <tbody id = "orders_table">
          {% for row in rows %}
          {% if row.delivered %}
            <tr class="table-success">
          {% else %}
            <tr class="table-danger mark-as-complete">
          {% endif %}
              <td>{{row.id}}</td>
              <td>{{row.username}}</td>
              <td>{{row.time_of_order}}</td>
              <td >
                <ul>
                  {% for item in row.order|format_cart %}
                    <li>{{item|format_cart_item}}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>£{{row.price}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

  </div>
</div>




{% endblock %}
